$primaryBtn: rgb(14, 115, 155);
$btnText: rgb(189, 217, 224);
$textColor: rgb(39, 48, 43);
$primaryColor: rgb(37, 37, 37);
$accentColor: rgb(255, 123, 0);

$mobile: 1080px;

$font-weights: (
    "regular": 400,
    "medium": 700,
    "bold": 900
);

@mixin flexCenter($direction, $background) {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background;
    flex-direction: $direction;
}
